/*CSS 00CSS */

.maincard{
    margin: 15px;
    padding:  20px;
}

.card--highlight {
    box-shadow: 0 4px 10px rgba(5, 8, 36, 0.2) !important;
}

.card--shadow {
    background-color: rgb(16, 8, 88);
}